.sidebar-container {
    width: 250px;
    border-right: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px 10px;
    /* border: 1px solid blue; */
    height: 100vh;

    position: fixed;
    z-index: 1;
}